
<!-- This is the base template all other templates reffer to -->
<!-- By making this one super sweet we can just reuse it everywhere -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
</head>
<body>

<nav>
  <a href="/">Home</a>
  <a href="/game">Game</a>
  <a href="/rules">Rules</a>
  <a href="/about">About</a>
</nav>

<main>
{% block content %}{% endblock %}
</main>

</body>
</html>
